html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  line-height: 15px;
}

img { border: none; }

.navbar.navbar-info {
  margin: auto;
}

#main {
  height: 100%;
  width: 100%;
	margin: 0; padding: 0;
}

#footer {
	clear: both;
	height: 4em;
  padding: 1em;
	text-align: center;
  background: #2b2a2b; color: #ccc;
}

/* Navigation */

.side {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.menu {
  min-height: 600px;
  overflow: auto;
  padding: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.menu ul li {
  font-size: 14px;
  cursor: pointer;
}

.menu a {
  color: #474747;
}

ul.subjects {
  margin: 1em 0; padding-left: 1em; list-style: none;
}

ul.pages { padding-left: 2em; list-style: square; font-weight: normal; }

.selected {
  font-weight: bold;
}

/* Page Content */
#page {
  min-height: 620px;
	float: left;
	padding-left: 2em;
  padding-right: 3em;
  vertical-align: top;
  /*border-left: 1px solid #ccc;*/
}
#page h2 { color: #03a9f4; }
#page h3 { color: #03a9f4; }
#page h2.index { color: #009688; }

.view-content {
	margin: 1em;
  padding: 1em;
  margin-right: 3em;
  border:
  1px solid #999;
  background-color: whitesmoke;
}

th.username {
  text-align: left;
  width: 200px;
}

th.actions {
  text-align: left;
}

/* Buttons */
.btn {
  -webkit-font-smoothing: antialiased;
}

/* messages */

.alert.alert-dismissible.alert-success {
  width: 80%;
}
